Rys::Patcher.add('IssuesController') do

  included do
    before_action :rys_management_add_flash_notice, only: [:show]
  end

  instance_methods do
    def show
      Rys::Feature.on('rys_management.issue.show') do
        @rys_management_test_1 = 'Test 2'
      end

      super
    end

    private

      def rys_management_add_flash_notice
        if Rys::Feature.active?('rys_management.issue.show', 'rys_management.project.show')
          flash.now[:notice] = 'Features are activated'
        end
      end
  end


  instance_methods(feature: 'rys_management.issue.show') do
    def show
      @rys_management_test_2 = 'Test 2'

      super
    end
  end

  class_methods do
  end

end
