@import "variables";

.indicator-beta {
    margin-right: 4*$gap;
    &:after {
      content: "Beta";
      display: inline-block;
      position: absolute;
      font-size: $font-size;
      color: black;
      top: 1.75*$gap;
      padding-left: .25*$gap;
    }
}
