<% Rys::Feature.on('rys_management.issue.show') do %>
  <hr>
  <div>
    <strong>Test 1</strong> <%= @rys_management_test_1 %><br>
    <strong>Test 2</strong> <%= @rys_management_test_2 %>
  </div>
  <hr>
<% end %>
